* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
font-family: 'Helvetica Neue';
}
label {
  font-family: 'Helvetica Neue', Arial, Sans-Serif;
  font-weight: normal;
  font-size: 16px;
  font-style: inherit;
  margin: 8px;
  color: #686868 ;
  background-color: #eee;
}
 
html .form281-wrap .form.radio:empty {
  margin-left: -999px;
}

/* style label */
html .form281-wrap .form.radio:empty ~ label {
  position: relative;
  float: left;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {

  background: #95a5a6;
  background-image: url(http://8fb80e.medialib.glogster.com/media/6977f5a29e3eb12e1d16283fa436db644c95b2c211371be888b04a24f1ba0aa7/moving-clouds-1.gif);
    -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
    background-repeat: no-repeat;
    background-size: 100%;

  /*http://fc05.deviantart.net/fs71/i/2010/099/7/a/sjsu_wallpaper_by_spader725.jpg*/
  font-family: 'Helvetica Neue', Arial, Sans-Serif;
}

html .form281-wrap {
  position: relative;
  margin-top: 150px;
    margin-bottom: 500px;
    margin-right: 10px;
    margin-left: 550px;
  background: #ecf0f1;
  width: 350px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #333;
  padding: 15px;
}
html .form281-wrap h2 {
  text-align: center;
  font-weight: 200;
  font-size: 1.9em;
  margin-top: 10px;
  color: #34495e;
}
html .form281-wrap .form {
  padding-top: 20px;
}
html .form281-wrap .form.radio {
  padding-top: 20px;
}

html .form281-wrap .form select{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 25px;
  height: 40px;
  border-radius: 5px;
  outline: 10;
  float:left;
  -moz-outline-style: groove;
}
html .form281-wrap .form select, {
  border: 3px solid #bbb;
  padding: 0 0 0 10px;
  font-size: 14px;
}
html .form281-wrap .form select:focus{
  border: 3px solid #3498db;
}


html .form281-wrap .form input[type="text"]{
  width:80%;
  margin-left: 10%;
    margin-right: 60%;
  margin-bottom: 25px;
  height: 20px;
  border-radius: 5px;
  outline: 0;
  -moz-outline-style: groove;
}


html .form281-wrap .form button {
  width:80%;
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 25px;
  height: 40px;
  border-radius: 5px;
  outline: 0;
  -moz-outline-style: none;
}

html .form281-wrap .form input[type="text"], {
  border: 5px solid #bbb;
  padding: 0 0 0 100px;
  font-size: 14px;
}
html .form281-wrap .form input[type="text"]:focus{
  border: 1px solid #3498db;
}
html .form281-wrap .form input[type="radio"], {
    margin-left: 10%;
    font-family: 'Helvetica Neue';

}
html .form281-wrap .form input[type="radio"]:focus{
  border: 8px solid #3498db;

}

html .form281-wrap .form a {
  text-align: center;
  font-size: 10px;
  color: #3498db;
}
html .form281-wrap .form a p {
  padding-bottom: 10px;
}
html .form281-wrap .form button {
  background: #ff3333;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 100;
  cursor: pointer;
  transition: box-shadow .4s ease;
}
html .form281-wrap .form button:hover {
  box-shadow: 1px 1px 5px #880000;
}
html .form281-wrap .form button:active {
  box-shadow: 1px 1px 7px #222;
}
html .form281-wrap:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: -webkit-linear-gradient(left, #27ae60 0%, #27ae60 20%, #8e44ad 20%, #8e44ad 40%, #3498db 40%, #3498db 60%, #e74c3c 60%, #e74c3c 80%, #f1c40f 80%, #f1c40f 100%);
  background: -moz-linear-gradient(left, #27ae60 0%, #27ae60 20%, #8e44ad 20%, #8e44ad 40%, #3498db 40%, #3498db 60%, #e74c3c 60%, #e74c3c 80%, #f1c40f 80%, #f1c40f 100%);
  height: 5px;
  border-radius: 5px 5px 0 0;


}
/*27ae60*/
